.button {
  display: block;
  margin: 1rem;
  text-transform: uppercase;
}

.header {
  align-items: center;
  display: flex;
  height: 50px;
}

.card {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
